/*mobile*/
@media (max-width: 600px)
{
    body
    {
        background: green;
    }
}
/*tablet*/
@media (min-width:601px) and (max-width: 1000px)
{
    body
    {
        background: white;
    }
}
/*desktop*/
@media (min-width: 1000px)
{
    body
    {
        background: red;
    }
}