/*Stylesheet for Crazy Bob's software*/
/*Global Style*/
body
{
    background-color: #616161;
}
nav
{
    margin:0;
    width:100%;
    padding:0;
    background-color: black;
    clear:both;
    float:left;
    box-shadow: 1px 1px 2px gray;
}
nav ul
{
    list-style: none;
    text-decoration: none;
    margin:0px;
    padding:0px;
}
nav ul li a
{
    text-decoration: none;
    color:lightgray;
    padding-left:50px;
    padding-right:50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color:black;
    float:left;
}
nav ul li a:hover
{
    color: black;
    background-color: lightgray;
}
nav .active
{
    background-color: lightgray;
    color:black;
}
header
{
    display:block;
    width 100%;
    padding-bottom: 5px;
    background-color: #757575;
}
header h1
{
    color: #212121;
    text-align: center;
    text-shadow: 2px 2px 2px gray;
    margin:auto;
}
div#container img
{
    max-height: 375px;
    max-width: 350px; 
    float:left;
}
h1,li
{
    font-family: monospace;
}
#content h2
{
    margin-left: 10px;
    font-family: monospace;
    float:left;
    color:#212121;
    text-shadow: 2px 2px 2px gray;
    width:100%;
    float:left;
}
/* index.html style */
#softwareImage
{
    display:block;
    margin:1%;
    float:left;
    border:10px;
    max-height: 100px;
    max-width: 100px;
    border-style:groove;
    border-color: black;
/*
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
    margin-left: 10px;
*/
    width: 30vw;
    height: 30vw;
}
#pMain
{
    float:left;
    width:57%;
}
footer 
{
    width:100%;
    background-color: black;
    color: gray;
    text-align:center;
    float:left;
}
/*products.html*/
#gallery
{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    
}
figcaption
{
    font-size:18px;
}
figure
{  
    display: flex;
/*    justify-content: center;*/
    flex:0 0 25%;
/*    display:block;*/
    background-color:lightgray;
    box-shadow: 1px 1px 1px 1px gray;
/*    css gradient*/
    background: linear-gradient(black, gray);
}
figure img
{
    padding:10px;
    width:100px;
    height:100px;
    border-radius: 12px;
}
figcaption
{
    color: white;
/*    margin:auto;*/
/*    text-align: center;*/
}
#map
{
    float:left;
    margin-left:50px;
    margin-top: 55px;
}
form
{
    margin-left: 50px;
    float:left;
}
form button#submitButton
{
  height:50px;
    width:590px;
}
form textarea#messageBox
{
 height:203px;   
}
