#content
{
    display:grid;
    grid-template-columns: 259px 259px 259px;
/*    grid-auto-columns: 259px;*/
    grid-gap: 50px;
    grid-template-rows: 259px 259px 259px 259px 259px 259px;
/*    grid-auto-rows: 259px;*/
/*    grid-auto-flow: column;*/
}
.coolImages
{
    
}
.description
{
    display: block;
    min-height: 30px;
    max-height: 50px;
    background-color: darkviolet;
    color: black;
}
.imageTitle
{
    display: block;
    min-height: 30px;
    max-height: 50px;
    background-color: violet;
}
.imageTitle p
{
    
    font-family:monospace;
}